<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../1.Vue2官网教程/resources/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        姓：<input type="text" v-model="fristName"><br>
        名：<input type="text" v-model="lastName"><br>
        姓名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip=false;
        var vm=new Vue({
            el:"#app",
            data:{
                fristName:"",
                lastName:"",
            },
            computed:{
                fullName:{
                    get(){
                        return this.fristName+"-"+this.lastName
                    }
                }
            }
        });
    </script>
</body>
</html>